# ROS 2 Workspace specific build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

SimulationFiles/build/
SimulationFiles/install/
SimulationFiles/log/


# Python bytecode and caches
*.pyc
__pycache__/

# Common editor/OS files
*~
*.swp
.DS_Store
Thumbs.db
